---
layout: layout.njk
---

<div class="content">
    <h2>{{ title }}</h2>

    {{ content | safe }}

    <h3>matching terms:</h3>
    <ol>
        {% for tag, posts in collections %} {% for post in posts %} {% if
        post.data.title == title %} {% if tag != "all" %}
        <li data-result="{{ tag.toLowerCase().replace(' ', '_') }}">
            {{ tag }}
        </li>
        {% endif %} {% endif %} {% endfor %} {% endfor %}
    </ol>
</div>
